{% extends 'base.html' %}

{% block content %}
    <h1>Авторизация</h1>
    <form method="post">
        <div class="mb-3">
            <label for="login">Логин</label>
            <input class="form-control" id="login" aria-describedby="emailHelp" placeholder="Логин" name="username">
        </div>
        <div class="mb-3">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Пароль" name="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkme" name="remember_me">
            <label class="form-check-label" for="checkme">Запомнить меня</label>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
  </form>
{% if error %}
    <span>{{ error }}</span>
{% endif %}
{% endblock %}